.env
*.env

__pycache__/
*.pyc

.venv/
venv/

.DS_Store

logs/
target/
dbt_packages/

airflow/logs/

walmart_project/target/
walmart_project/logs/

*.log

profiles.yml

AI_PROJECT_CONTEXT.md
AI_PROJECT_HANDOFF_PROMPT.md

.ipynb_checkpoints/